<ion-content class="container">
    <ion-slides pager="true" class="slides" id="slides">
        <ion-slide class="slide">
            <div class="material-block">
                <ion-icon name="checkmark-circle-outline" class="validate"></ion-icon>
            </div>
            <div class="tutorial">
                <h2>Inscription terminé</h2>
                <p class="text">Vous êtes maintenant connecté.<br/>Laissez-nous vous montrer comment notre produit fonctionne...</p>
                <ion-button class="next-button" (click)="nextSlide()">Suivant</ion-button>
            </div>
        </ion-slide>

        <ion-slide>
            <h1>Slide 2</h1>
        </ion-slide>

        <ion-slide>
            <h1>Slide 3</h1>
        </ion-slide>
    </ion-slides>
</ion-content>