<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <div class="login-form">
    <p class="title">Papa Loutre</p>
    <p class="slogan">Racontez-nous une histoire</p>
    <ion-list inset class="content-form">

      <ion-item>
        <ion-label position="stacked">Adresse mail</ion-label>
        <ion-input type="text" class="form-control" class="rounded" [(ngModel)]="email"></ion-input>
      </ion-item>

    </ion-list>

    <div padding-horizontal>

      <ion-button color="primary" color="secondary" (click)="resetPassword()" expand="block" class="rounded">Envoyer</ion-button>

    </div>
  </div>
</ion-content>