<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
	<form (ngSubmit)="login()" [formGroup]="loginForm" class="login-form">
    <p class="title">Papa Loutre</p>
    <p class="slogan">Racontez-nous une histoire</p>
		<ion-list inset class="content-form">

			<ion-item>
        <ion-label position="stacked">Adresse mail</ion-label>
				<ion-input type="text" formControlName="email" class="form-control" class="rounded"></ion-input>
			</ion-item>

      <div class="validation-error">
        <ng-container *ngFor="let validation of validation_messages.email" >
          <div class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

			<ion-item>
        <ion-label position="stacked">Mot de passe</ion-label>
				<ion-input type="password" formControlName="password" class="rounded"></ion-input>
			</ion-item>

      <div class="validation-error">
        <ng-container *ngFor="let validation of validation_messages.password" >
          <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

		</ion-list>

		<div padding-horizontal>
			<div class="form-error">{{loginError}}</div>

      <ion-button color="primary" color="secondary" disabled="{{!loginForm.valid}}" (click)="login()" expand="block" class="rounded">Connexion</ion-button>

      <ion-button color="primary" color="secondary" (click)="loginWithGoogle()" expand="block" class="rounded">
        <ion-icon name="logo-google"></ion-icon>
        Connexion avec Google
      </ion-button>

			<div class="login-footer">
				<p>
					<a routerLink="/reset-password">Mot de passe oublié</a>
				</p>
			</div>

		</div>
    <a routerLink="/signup" class="create-account">Créer un compte</a>
	</form>

  <!--design-->
  <!--<div class="content-image">
    <ion-img src="assets/imgs/background2.PNG"></ion-img>
  </div>-->
</ion-content>