<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Chapitres
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="changeView()" *ngIf="screenSize >= 800">
        <ion-icon name="phone-portrait" class="view" *ngIf="isMobile; else ComputerViewBlock"></ion-icon>
        <ng-template #ComputerViewBlock>
          <ion-icon name="desktop" class="view"></ion-icon>
        </ng-template>
      </ion-button>
      <ion-button fill="clear" (click)="synchronize()">
        <ion-icon name="cloud-done" class="done" *ngIf="isSynchronize; else NotSynchronize"></ion-icon>
        <ng-template #NotSynchronize>
          <ion-icon name="cloud-upload" class="upload"></ion-icon>
        </ng-template>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="isMobile; else ComputerBlock">
  <ion-content class="page mobile">
    <ng-container *ngTemplateOutlet="chapter"></ng-container>
  </ion-content>
</ng-container>
<ng-template #ComputerBlock>
  <ion-content class="page">
    <ng-container *ngTemplateOutlet="chapter"></ng-container>
  </ion-content>
</ng-template>

<ng-template #chapter>
  <ion-card class="chapters" id="chapters_panel">
      <ion-row class="main-title">
        <ion-col size="12" class="title">
          <p class="text">Chapitres</p>
        </ion-col>
        <ion-col size="12" class="image">
          <ion-img src="assets/imgs/cloud.png" class="cloud"></ion-img>
        </ion-col>
      </ion-row>
    <ion-card-content class="content">
      <ion-row *ngFor="let chapter of chapters; let i = index">
        <ion-col size="1" *ngIf="chapter.children != null && chapter.children.length > 0">
          <ion-icon [name]="group[i].isShow ? 'arrow-dropup' : 'arrow-dropdown'" (click)="clickToggle(i)"></ion-icon>
        </ion-col>
        <ion-col size="9" class="col">
          <p (click)="changeSelectedChapter(chapter)">{{chapter.name}}</p>
        </ion-col>
        <ion-col size="1">
          <button fill="clear" (click)="presentPopover($event, [i])" class="options-chapter"><ion-icon name="more"></ion-icon></button>
        </ion-col>
        <ion-col size="12" class="col" *ngIf="group[i].isShow">
          <app-branch-chapter [chapter]="chapter" [root]="root" (selectChapter)="changeSelectedChapter($event)"></app-branch-chapter>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-chip outline="true" color="primary" (click)="addChapter()">
          <ion-icon name="add-circle-outline" color="primary"></ion-icon>
          <ion-label color="primary">Ajouter un chapitre</ion-label>
        </ion-chip>
      </ion-row>
      <ion-row class="chapter-desc" *ngIf="selectedChapter != null">
        <ion-col size="12">
          <p class="title">Titre et description</p>
        </ion-col>
        <ion-col size="12">
          <ion-input type="text" [(ngModel)]="selectedChapter.name" placeholder="Titre" class="chapter-title" (ionChange)="editData()"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-textarea placeholder="Description..." [(ngModel)]="selectedChapter.description" (ionChange)="editData()"></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <div class="panel left" id="panel_left" *ngIf="isMobile">
    <ion-icon name="arrow-dropleft" (click)="closeChapterPanel()" *ngIf="isOpenChapter; else closeChapterPanelBox"></ion-icon>
    <ng-template #closeChapterPanelBox>
      <ion-icon name="arrow-dropright" (click)="openChapterPanel()"></ion-icon>
    </ng-template>
  </div>

  <div class="write-zone" *ngIf="selectedChapter != null">
    <editor *ngIf="!isMobile || screenSize > 800; else MobileEditor" apiKey="4ah0y9piw5lyw31y6xlj40ney8yoj7unsnw65plait3xk1vy" [init]="tinyMceSettings" [(ngModel)]="selectedChapter.write" (onChange)="editData()"></editor>
  
    <ng-template #MobileEditor>
      <ion-textarea [(ngModel)]="selectedChapter.write" (ionChange)="editData()"></ion-textarea>
    </ng-template>
  </div>

  <app-informations-chapter *ngIf="selectedChapter != null" [chapter]="selectedChapter" [parent]="root" [isMobile]="isMobile" [isOpen]="isOpenInformations"></app-informations-chapter>
  <div class="panel right" id="panel_right" *ngIf="isMobile">
    <ion-icon name="arrow-dropright" (click)="closeInformationsPanel()" *ngIf="isOpenInformations; else closeInformationsPanelBox"></ion-icon>
    <ng-template #closeInformationsPanelBox>
      <ion-icon name="arrow-dropleft" (click)="openInformationsPanel()"></ion-icon>
    </ng-template>
  </div>
</ng-template>
